@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


$nav-background:#0C70F2;
$body-background:#2D2D2D;
$black: black;
$white: #D9D9D9;;
$border-input-color: #7a7a7a;
$contrast-color: #0c70f2;
$border-background-card: #b7b7b7;
$font-lista : 'Raleway', sans-serif;
$font-primary: 'Poppins', sans-serif;
