@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


$nav-background:#0C70F2;
$black: black;
$white: white;
$border-input-color: #7a7a7a;
$contrast-color: #0c70f2;
$border-background-card: #b7b7b7;
$fonte-lista : 'Raleway', sans-serif;
